<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');

    :host {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 24px;
        color: blanchedalmond;    
    }
    a {
        text-decoration: none;
    }
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 36px;
        color: whitesmoke;
    }
    .navbar-brand {
        background-color: #05464F;
        margin: -8px;
        padding: 0px;
        border-bottom: 1px solid #032a2f;
    }
    .navbar-item-link {
        margin-left: 30px;
    }
    .navbar-title {
        margin-top: -70px;
        padding-left: 160px;
    }
</style>

<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-item-link">
            <img src="../../../../assets/img/reading96px.png">
            <h1 class="navbar-title">Book Publishing Company</h1> 
        </a>
    </div>
</nav>