<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');
   
    .sign-in-container {
        padding-top: 230px;
        height: 100%;
    }
    .sign-in-form > input{
        border-radius: 6px;
        border: 1px solid gray;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        margin-top: 20px;
        margin-left: 43%;
        text-align: center;
    }
    .sign-in-form > button {
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        margin-left: 44.5%;
        margin-top: 20px;
        width: 200px;
        height: 35px;
        border-radius: 7px;
        background-color: white;
        border: 1px solid gray;
    }
</style>

<div class="sign-in-container">
    <form class="sign-in-form">
        <input id="sign-in-email" type="email" placeholder="Email">
    </form>
    <form class="sign-in-form">
        <input id="sign-in-password" type="password" placeholder="Password">
    </form>
    <form class="sign-in-form">
        <button id="sign-in-sub" type="submit">Login</button>
    </form>    
</div>