<style>
        @import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');
    
        :host {
            font-family: 'Lato', sans-serif;
            font-weight: 100;
            font-size: 24px;
            color: blanchedalmond;    
        }
        .navbar-footer {
            margin: -8px;
            margin-top: 0px;
            background-color: #05464F;
            border-top: 1px solid white;
            height: 120px;
        }
        #footer-logo {
            margin-top: 10px;
            margin-left: 30px;
        }
        #footer-copyright {
            margin-top: -60px;
            margin-left: 130px;
            color: white;
        }
    </style>
    
    <nav class="navbar">
        <div class="navbar-footer">
            <img id="footer-logo" src="../../../../assets/img/venndiagram96px.png">
            <p id="footer-copyright">© Powered by me</p>
        </div>
    </nav>